<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net472" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net46" />
  <package id="Geocoding.net" version="3.6.1" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="SharpKml.Core" version="3.0.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
</packages>