<div id="smallActiveCallsGrid"></div>

<script id="smallActiveCallRowActionColumnTemplate" type="text/x-kendo-tmpl">
  <a class="btn btn-success respondToCallButton" onclick="resgrid.dispatch.smallcallgrid.respondToCall(#=CallId#);">@commonLocalizer["RespondToCall"]</a>
</script>

<script src="@Url.Content("~/js/app/internal/dispatch/resgrid.dispatch.smallcallgrid.js")" type="text/javascript"></script>
