<table id="smallActiveCallsGrid" class="table table-striped table-hover" width="100%"></table>

<script src="@Url.Content("~/js/app/internal/dispatch/resgrid.dispatch.smallcallgrid.js")" type="text/javascript"></script>
