@using Microsoft.ApplicationInsights.Extensibility
@{
  ViewData["Title"] = "Resgrid | Recover Account";
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  @Html.Partial("_StylePartial")


  @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="gray-bg">

  <div class="loginColumns animated fadeInDown">
    <div class="row">

      <div class="col-md-12">
        <div style="text-align: center;">
          <a asp-controller="Home" asp-action="Index"><img src="~/images/Resgrid_JustText.png" style="width: 200px;" /></a>
        </div>
        <div class='alert alert-success'>
          If your email address is valid we have reset your password and sent your username and new password to the email address supplied. Email delivery can be delayed up to 15 minutes, <b>also check your spam or junk areas in your email client if you email doesn't arrive</b> by then.
        </div>
        <p>
          <small><a asp-controller="Home" asp-action="Index">Go Back</a></small>
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        Resgrid, LLC.
      </div>
      <div class="col-md-6 text-right">
        <small>© @DateTime.Now.Year</small>
      </div>
    </div>
  </div>

  <script>
	$(function () {
	  deleteAllCookies();
	});

	function deleteAllCookies() {
	  var cookies = document.cookie.split(";");

	  for (var i = 0; i < cookies.length; i++) {
		var cookie = cookies[i];
		var eqPos = cookie.indexOf("=");
		var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
		document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
	  }
	}
  </script>
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
</body>
</html>
