@model Resgrid.Web.Models.CompleteInviteModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Resgrid - Invite Missing</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<environment names="Development">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
					crossorigin="anonymous"
					asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
					asp-fallback-test-class="hidden"
					asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />

		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css" />
		<link rel="stylesheet" href="~/css/animate.css" />
		<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
					crossorigin="anonymous"
					asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
					asp-fallback-test-class="hidden"
					asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css" />
		<link rel="stylesheet" href="~/css/animate.css" />
		<link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
	</environment>



	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="gray-bg">


	<div class="middle-box text-center animated fadeInDown">
		<h1>404</h1>
		<h2>Missing Invite</h2>
		<h3 class="font-bold">Unable to find your Resgrid Invite</h3>

		<div class="error-desc">
			We're sorry but we were unable to locate your invite to Resgrid. Try having your department or organization send another one. If you already have a Resgrid account you can log in below. 
			<ul class="list-inline">
				<li>
					<a class="btn btn-primary m-t" href="javascript:history.back();">Go Back</a>
				</li>
				<li>

				</li>
				<li>
					<a class="btn btn-primary m-t" asp-controller="Account" asp-action="LogOn" asp-route-area="">Log in</a>
				</li>
				<li>

				</li>
				<li>
					<a class="btn btn-primary m-t" href="https://resgrid.com">Home</a>
				</li>
			</ul>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	<script> window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
