@using Microsoft.ApplicationInsights.Extensibility
@model Resgrid.Web.Models.AccountViewModels.RegisterViewModel
@{
  ViewData["Title"] = "Resgrid | Register";
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  @Html.Partial("_StylePartial")


  @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="gray-bg">

  <div class="loginColumns animated fadeInDown">
    <div class="row">

      <div class="col-md-6">
        <div style="text-align: center;">
          <a asp-controller="Home" asp-action="Index"><img src="~/images/Resgrid_JustText.png" style="width: 200px;" /></a>
        </div>
        <p>
          Supply the information to the side to create a NEW department entry in the Resgrid system.
        </p>

        <p>
          If someone from your department has already signed up your department in Resgrid, contact them to have that user send you an invite to that existing department.
        </p>

        <p>
          If your department has not yet signed up for Resgrid you can create a new account here then invite your other department members from inside the system. Only the first user in a department needs to create their account from this screen.
        </p>

        <div class='alert alert-info'>
          By signing up, you accept Resgrid's <a asp-controller="Public" asp-action="Terms" target="_blank">
            terms of use
          </a> and <a asp-controller="Public" asp-action="Privacy" target="_blank">
            privacy
            policy
          </a>
        </div>

        <p>
          <small><a asp-controller="Home" asp-action="Index">Go Back</a></small>
        </p>
      </div>
      <div class="col-md-6">
        <div class="ibox-content">
          <form class="m-t" role="form" asp-controller="Account" asp-action="Register" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName" required="">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName" required="">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address" asp-for="Email" required="">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Department Name" asp-for="DepartmentName" required="">
            </div>
            <div class="form-group" style="vertical-align: central;">
              <label asp-for="DepartmentType" class="col-md-6 control-label" style="padding-top: 10px; padding-left: 2px;"></label>
              <div class="col-md-6" style="padding-left: 0px; padding-right: 0px; padding-top: 10px; padding-bottom: 20px; float: right; text-align: right;">
                <select asp-for="DepartmentType" asp-items="ViewBag.DepartmentTypes" style="padding-left: 0; width: 100%;"></select>
                <span asp-validation-for="DepartmentType" class="text-danger"></span>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" asp-for="Username" required="">
            </div>
            <div class="form-group">
              <input asp-for="Password" class="form-control" placeholder="Password" required="" />
            </div>
            <div class="form-group">
              <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="" />
              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <div asp-validation-summary="All" class="text-danger"></div>
          </form>
          <p class="m-t">

          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        Resgrid, LLC.
      </div>
      <div class="col-md-6 text-right">
        <small>© @DateTime.Now.Year</small>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>
  <script src="~/clib/ujs/jquery-ujs.js"></script>
  <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
  <script src="~/lib/select2/js/select2.min.js"></script>

  <script src="~/clib/bootstrap-wizard/bootstrap-wizard.min.js"></script>
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
</body>
</html>
