#OS junk files
[Tt]humbs.db
*.DS_Store
._*

#Visual Studio files
*.[Oo]bj
*.exe
*.xap
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
UpgradeLog*
_UpgradeReport_Files/
csx/
rcf/
.vs/
.crt
.key
.pem
.pfx
.cache
obj/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.Tests.VisualState.xml
*.vs10x
.idea/
*.DotSettings


#Project and build files
[Bb]uild/Packages/
Temp/
Build/WebsiteRelease/
Build/build
Challenges/Build/build

#Subversion files
.svn

# Office Temp Files
~$*

# WCF diagnostic files
*.svclog

# DB Professional files
*.dbmdl

# Include the DebugReleaseImplementations folder which would be ignored by the above
!*DebugReleaseImplementations/

# Files added by the Visual Studio Productivity Power Tools extension
*.docstates

# Files created by the git mergetool
*.orig

# Publish Profiles
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
*.publishproj

# Project Ignores
Website.zip
stage/
Build/sites
*.zip
Tests/Resgrid.Intergration.Tests/Website
Web/Resgrid.Web/App_Data/Log.txt
Azure/ResgridAzure/csx
Azure/ResgridApiAzure/csx
Azure/ResgridWorkersAzure/csx
Azure/BizSpark/ResgridApi/csx
Azure/BizSpark/ResgridWebsite/csx
Azure/BizSpark/ResgridWorkers/csx
Azure/BizSpark/ResgridBackend/csx
InstallAware/Release
_NCrunch_Resgrid
nCrunchTemp*
*.ps1
*.psm1
*.user
*.ncrunchproject
*.map

# vim backup files
*~
*.swp


*.received.txt

# xml documentation (generated one each build)
Web/Resgrid.Services/App_Data/Resgrid.Web.Services.XML

/packages/
!packages/repositories.config

#Web/Resgrid.Web/Configs/connectionStrings.config
#Web/Resgrid.Services/Configs/connectionStrings.config
#Common/Configs/connectionStrings.config
#Common/AssemblyInfo.cs
/node_modules
.vs/
node_modules

# OSS Project Ignores
.deployment
create.azure.deploy.package.bat
create.deploy.package.bat
default.ps1
deploy.cmd
Packages.dgml
OffRuleSet.ruleset
Build/*
.idea/*
Tests/Resgrid.TestHarness/*
Tests/Resgrid.TestHarnessCore/*
Web/Resgrid.WebCore/appsettings.Azure.json
Web/Resgrid.WebCore/appsettings.Development.json
Web/Resgrid.WebCore/appsettings.Production.json
Web/Resgrid.WebCore/appsettings.Staging.json
Workers/WebJobs/*
Common/resgrid.com.crt
Common/resgrid.local.crt
Common/resgrid.local.key
Common/resgrid.local.pem
Common/resgrid.local.pfx
Web/Resgrid.Web.ServicesCore/Properties/serviceDependencies.json
Web/Resgrid.Web.ServicesCore/Properties/serviceDependencies.local.json
Web/Resgrid.Web.ServicesCore/Properties/ServiceDependencies/local/appInsights1.arm.json
Docker/docker-data/dms/mail-state/lib-clamav/bytecode.cvd
Docker/docker-data/dms/mail-state/lib-clamav/daily.cvd
Docker/docker-data/dms/mail-state/lib-clamav/freshclam.dat
Docker/docker-data/dms/mail-state/lib-clamav/main.cvd
Docker/docker-data/dms/config/dovecot-quotas.cf
Docker/docker-data/dms/config/mailconfig
Docker/docker-data/dms/config/postfix-aliases.cf
Docker/docker-data/dms/mail-data/maildata
Docker/docker-data/dms/mail-logs/maillogs
Docker/docker-data/dms/mail-state/mailstate
Docker/docker-data/dms/mail-state/lib-amavis/.razor/identity
Docker/docker-data/dms/mail-state/lib-amavis/.razor/identity-ruYtA-SdhH
Docker/docker-data/dms/mail-state/lib-amavis/.razor/server.n001.cloudmark.com.conf
Docker/docker-data/dms/mail-state/lib-amavis/.razor/server.n004.cloudmark.com.conf
Docker/docker-data/dms/mail-state/lib-amavis/.razor/servers.catalogue.lst
Docker/docker-data/dms/mail-state/lib-amavis/.razor/servers.discovery.lst
Docker/docker-data/dms/mail-state/lib-amavis/.razor/servers.nomination.lst
Docker/docker-data/dms/mail-state/lib-spamassassin/sa-update-keys/pubring.kbx
Docker/docker-data/dms/mail-state/lib-spamassassin/sa-update-keys/trustdb.gpg
Docker/docker-data/sql/backup/sqlbackups
Docker/docker-data/sql/data/Entropy.bin
Docker/docker-data/sql/data/master.mdf
Docker/docker-data/sql/data/mastlog.ldf
Docker/docker-data/sql/data/model_msdbdata.mdf
Docker/docker-data/sql/data/model_msdblog.ldf
Docker/docker-data/sql/data/model_replicatedmaster.ldf
Docker/docker-data/sql/data/model_replicatedmaster.mdf
Docker/docker-data/sql/data/model.mdf
Docker/docker-data/sql/data/modellog.ldf
Docker/docker-data/sql/data/msdbdata.mdf
Docker/docker-data/sql/data/msdblog.ldf
Docker/docker-data/sql/data/Resgrid_log.ldf
Docker/docker-data/sql/data/Resgrid.mdf
Docker/docker-data/sql/data/ResgridOIDC_log.ldf
Docker/docker-data/sql/data/ResgridOIDC.mdf
Docker/docker-data/sql/data/ResgridWorkers_log.ldf
Docker/docker-data/sql/data/ResgridWorkers.mdf
Docker/docker-data/sql/data/sqldata
Docker/docker-data/sql/data/tempdb.mdf
Docker/docker-data/sql/data/templog.ldf
Docker/docker-data/sql/log/errorlog
Docker/docker-data/sql/log/errorlog.1
Docker/docker-data/sql/log/errorlog.2
Docker/docker-data/sql/log/errorlog.3
Docker/docker-data/sql/log/errorlog.4
Docker/docker-data/sql/log/errorlog.5
Docker/docker-data/sql/log/errorlog.6
Docker/docker-data/sql/log/errorlog.7
Docker/docker-data/sql/log/errorlog.8
Docker/docker-data/sql/log/errorlog.9
Docker/docker-data/sql/log/errorlog.10
Docker/docker-data/sql/log/errorlog.11
Docker/docker-data/sql/log/errorlog.12
Docker/docker-data/sql/log/errorlog.13
Docker/docker-data/sql/log/errorlog.14
Docker/docker-data/sql/log/errorlog.15
Docker/docker-data/sql/log/errorlog.16
Docker/docker-data/sql/log/errorlog.17
Docker/docker-data/sql/log/errorlog.18
Docker/docker-data/sql/log/errorlog.19
Docker/docker-data/sql/log/HkEngineEventFile_0_132921975549100000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922007317990000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922009309080000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922013218750000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922018741370000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922033212920000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922067366660000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922075764680000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922088137910000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922111474730000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922117751690000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922122624170000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922132763460000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922142267410000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922152684910000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922153785260000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922154586090000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922155443490000.xel
Docker/docker-data/sql/log/HkEngineEventFile_0_132922211494070000.xel
Docker/docker-data/sql/log/log_16.trc
Docker/docker-data/sql/log/log_17.trc
Docker/docker-data/sql/log/log_18.trc
Docker/docker-data/sql/log/log_19.trc
Docker/docker-data/sql/log/log_20.trc
Docker/docker-data/sql/log/sqllogs
Docker/docker-data/sql/log/system_health_0_132922111481530000.xel
Docker/docker-data/sql/log/system_health_0_132922117759410000.xel
Docker/docker-data/sql/log/system_health_0_132922122632370000.xel
Docker/docker-data/sql/log/system_health_0_132922132771730000.xel
Docker/docker-data/sql/log/system_health_0_132922142272820000.xel
Docker/docker-data/sql/log/system_health_0_132922152690110000.xel
Docker/docker-data/sql/log/system_health_0_132922153791210000.xel
Docker/docker-data/sql/log/system_health_0_132922154593260000.xel
Docker/docker-data/sql/log/system_health_0_132922155450540000.xel
Docker/docker-data/sql/log/system_health_0_132922211502270000.xel
Docker/docker-data/dms/config/mailconfig
Docker/docker-data/dms/mail-data/maildata
Docker/docker-data/dms/mail-logs/maillogs
Docker/docker-data/dms/mail-state/mailstate
Docker/docker-data/sql/backup/sqlbackups
Docker/docker-data/sql/data/sqldata
Docker/docker-data/sql/log/sqllogs
Docker/docker-data/dms/config/mailconfig
Docker/docker-data/dms/mail-data/maildata
Docker/docker-data/dms/mail-logs/maillogs
Docker/docker-data/dms/mail-state/mailstate
Web/Resgrid.WebCore/wwwroot/js/ng/main.js
Web/Resgrid.WebCore/wwwroot/js/ng/polyfills.js
Web/Resgrid.WebCore/wwwroot/js/ng/runtime.js
Web/Resgrid.WebCore/wwwroot/js/ng/styles.css
Web/Resgrid.WebCore/wwwroot/js/ng/*
Web/Resgrid.WebCore/wwwroot/lib/*
/Web/Resgrid.Web/wwwroot/lib
