<div class="footer fixed_full">
	<div class="pull-right">
		Version @typeof(Startup).Assembly.GetName().Version
	</div>
	<div>
		<strong>Copyright</strong> Resgrid, LLC &copy; @DateTime.Now.Year All Rights Reserved.
	</div>
</div>
