@model Resgrid.Web.Areas.User.Models.TopIconsModel


<ul class="nav navbar-top-links navbar-left">
	@if (SettingsHelper.IsMessagingEnabled())
	{
		<li class="dropdown">
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<i class="fa fa-envelope"></i> <span class="label label-info">@Model.NewMessages</span>
			</a>
			<ul class="dropdown-menu dropdown-messages dropdown-menu-left">
				<div id="unreadMessages"></div>
				<li>
					<div class="text-center link-block">
						<a asp-controller="Messages" asp-action="Inbox" asp-route-area="User">
							<i class="fa fa-envelope"></i> <strong>@commonLocalizer["ViewInbox"]</strong>
						</a>
					</div>
				</li>
			</ul>

		</li>
	}
	<li class="dropdown">
		<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
			<i class="fa fa-bullhorn"></i> <span class="label label-danger">@Model.NewCalls</span>
		</a>
		<ul class="dropdown-menu dropdown-alerts dropdown-menu-left">
			<div id="activeCalls"></div>
			<li>
				<div class="text-center link-block">
					<a asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">
						<strong>@commonLocalizer["ViewCalls"]</strong>
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</li>
		</ul>
	</li>
</ul>

<script src="~/js/app/internal/messages/resgrid.messages.topPartial.js"> </script>
