@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.ActionLogModel
@{
	ViewBag.Title = "Resgrid | Action Log";
}
@section Styles
{

}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Action Logs</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Reports" asp-action="Index" asp-route-area="User">Reports</a>
			</li>
			<li class="active">
				<strong>Action Logs</strong>
			</li>
		</ol>
	</div>
	@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
	{
		<div class="col-sm-8">
			<div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
				<span><a data-toggle="modal" data-target="#confirmClearAllActionLogsModal" class="btn btn-danger">Clear out all Action Logs</a> </span>
			</div>
		</div>
	}
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="confirmClearAllActionLogsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete All Action Logs</h4>
			</div>
			@using (Html.BeginForm("ClearAllActionLogs", "Reports", FormMethod.Post, new { area = "User", id = "clear_all" }))
			{
				<div class="modal-body">
					<span class="alert alert-error">
						@Html.ValidationSummary(false)
						@Html.AntiForgeryToken()
					</span>
					<div class="form-group">
						<label class=" control-label">
							Are you sure you want to permanently delete all action logs?
						</label>
						<div class="controls">
							@Html.CheckBoxFor(m => m.ConfirmClearAll) Yes I'm sure
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Close</a>
					<input class="btn btn-primary" id="group_submit_action" name="commit" type="submit"
								 value="Delete All" />
				</div>
			}
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(document).ready(function () {
			$("#grid").kendoGrid({
				dataSource: {
					transport: {
						read: '@Url.Action("GetActionLogs", "Reports", new {Area="User"})'
					},
					schema: {
						model: {
							fields: {
								Name: { type: "string" },
								Action: { type: "string" },
								Timestamp: { type: "string" }
							}
						}
					},
					pageSize: 50,
					serverPaging: false,
					serverFiltering: true,
					serverSorting: true
				},
				height: 650,
				filterable: true,
				sortable: true,
				pageable: true,
				columns: [
						{
							field: "Name",
							title: "Name",
							width: 100
						},
						{
							field: "Action",
							title: "Action",
							width: 100
						},
						{
							field: "Timestamp",
							title: "Timestamp",
							width: 100,
							format: "{0:MM/dd/yyyy HH:mm:ss}"
						}
				]
			});
		});
	</script>
}