
@using Resgrid.Framework
@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Reports.Params.PersonnelHoursReportParams
@{
	ViewBag.Title = "Resgrid | Call Summary Report Params";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Call Summary Report</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Reports" asp-action="Index" asp-route-area="User">Reports</a>
			</li>
			<li class="active">
				<strong>Call Summary Report</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" role="form" asp-controller="Reports" asp-action="CallSummaryReportParams" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@Html.AntiForgeryToken()
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label required">
								Report Start Time
							</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.Start, new { style = "width:250px;", onkeydown = "javascript:return false;" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">
								Report End Time
							</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.End, new { style = "width:250px;", onkeydown = "javascript:return false;" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Reports" asp-action="Index" asp-route-area="User">Cancel</a>
								<button class="btn btn-primary" type="submit">Run Report</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(document).ready(function () {
			$("#Start").datetimepicker({ step: 30 });
			$("#End").datetimepicker({ step: 30 });
		});
	</script>
}
