/*

Author: Rashid Shafique | rmughal@gmail.com

*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700);

//anchor text color in menu
$color: rgb(230,233,237);

body{
	background: #eaeaea;
	padding: 90px 0 0 0;
	min-height: 900px;
	color: #434a54;
}

body *{
	font-family: 'Open Sans';
	font-weight: 100;
}



.navbar{
	box-shadow:0 2px 2px rgba(10, 10, 10, 0.06);
	-moz-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
	-webkit-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
	border: none;
	background: #fff;

	ul > li > a{
		font-weight: 600;
		padding: 26px;
		color: #434a54;
		font-size: 12px;
		text-transform: uppercase;
	}



	.container .navbar-brand{
		
		margin-left: 0px;
		padding: 25px;
	}

	
}
.main-title{
	text-align: center;

}
.pricing-tables {
	padding: 20px;


	h1 {
		font-size: 48px;
	}

	.plan {

		&.first {
			border-bottom-left-radius: 4px;
			border-top-left-radius: 4px;
		}

		&.last {
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
		}
	}



	.plan.recommended {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;


		.head {
			margin-bottom: 20px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}


	&.attached {
		.col-sm-4,
		.col-md-4,
		.col-sm-3,
		.col-md-3,
		.col-sm-2,
		.col-md-2 {
			padding-left: 0;
			padding-right: 0;
		}
		//attached plans dont have rounded corners,

		.plan {
			border-radius: 0;


			.head {
				border-radius: 0;
			}

			&.recommended {
				border-radius: 4px;

				.head {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}
			}


			&.last {
				border-bottom-right-radius: 4px;

				.head {
					border-top-right-radius: 4px;
				}
			}

			&.first {
				border-bottom-left-radius: 4px;

				.head {
					border-top-left-radius: 4px;
				}
			}
		}
	}
}

.plan{
	box-shadow: 0 2px 2px rgba(10,10,10, .06 );
	min-height: 100px;
	background: #fff;
	border-radius: 4px;
	margin: 20px 0;	
	padding-bottom: 25px;
	text-align: center;


	
	.head{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 12px 16px;
		background: #1c1c1c;
		color: #fff;

		
		h1,h2,h3{
			padding: 0;
			margin:0;
			font-weight: 100;
		}

	}


	.price{
		border-top: 1px solid #eee;
		margin: 0 auto 20px auto;
		width: 90%;
		h3{
			font-size: 60px;
			vertical-align: top;
			line-height: 1;
		

			span{
				font-size: 38px;
				vertical-align: top;
				position:relative;
				margin: 6px 0 0 -7px;
				display: inline-block;

			}
		}

		h4{
			color: #aaa;
			font-size: 14px;
		}
	}

	.btn{
		padding: 10px 30px;
		text-transform: uppercase;
		font-weight: 500;
	}

	ul{
		list-style-type: none;
		padding: 20px;
		margin-top: 2px;
		li{
			
			line-height: 22px;
			margin-bottom: 	15px;
			font-size: 14px;
			font-weight: 400;
			a{
				text-decoration: underline;
				color: $color;
			}

			&:last-child{
				border-bottom: none;
			}
		}

		strong{
			font-weight: 700;
		}
	}

	&.recommended{
		margin-top: 6px;
		box-shadow: 0 0 22px rgba(10,10,10, .42 );
		position:relative;
		z-index: 99;
		border-radius: 4px;
		

		.head{
			
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background: #171717;
		}

		.btn{
			margin-bottom: 10px;
		}
		
	}

	
}


//plan with recommended class
	

