@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Profile.ReportingView
@{
		ViewBag.Title = "Resgrid | Report Delivery Schedules";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Report Delivery Schedules</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Home" asp-action="EditUserProfile" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">Edit Profile</a>
			</li>
			<li class="active">
				<strong>Report Delivery Schedules</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Schedules</h5>
					<div class="ibox-tools">
							<div class="buttons-actions">
								<a title="Add a new scheduled report" class="btn btn-success" asp-controller="Profile" asp-action="AddNewScheduledReport" asp-route-area="User">Add Scheduled Report</a>
							</div>
					</div>
				</div>
				<div class="ibox-content">
					<div id="reportingScheduleGrid"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
		<script id="reportingSchedules-template" type="text/x-kendo-template">
				# if(IsActive == 1) { #
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Edit" href="@Url.Action("EditScheduledReport", "Profile", new { Area = "User" })?scheduleId=#=ScheduleId#"<span class="k-icon k-edit"></span>Edit</a>
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Edit" onclick="resgrid.profile.reporting.deactivateSchedule(#=ScheduleId#);"><span class="k-icon k-cancel"></span>Deactivate</a>
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Delete" onclick="resgrid.profile.reporting.deleteSchedule(#=ScheduleId#);"><span class="k-icon k-delete"></span>Delete</a>
				# } else { #
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Edit" href="@Url.Action("EditScheduledReport", "Profile", new { Area = "User" })?scheduleId=#=ScheduleId#"><span class="k-icon k-edit"></span>Edit</a>
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Edit" onclick="resgrid.profile.reporting.activateSchedule(#=ScheduleId#);"><span class="k-icon k-i-tick"></span>Activate</a>
				<a style="text-decoration:none;" class="k-button k-button-icontext k-grid-Delete" onclick="resgrid.profile.reporting.deleteSchedule(#=ScheduleId#);"><span class="k-icon k-delete"></span>Delete</a>
				# } #
		</script>

		<script src="~/js/app/internal/profile/resgrid.profile.reporting.js" type="text/javascript"></script>
}