{"openapi":"3.1.0","info":{"title":"NERIS","version":"1.4.78"},"servers":[{"url":"https://api.neris.fsri.org/v1"}],"paths":{"/health":{"get":{"summary":"Health","operationId":"health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"head":{"summary":"Health","operationId":"health_health_head","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/openapi.yaml":{"get":{"summary":"Openapi","operationId":"openapi_openapi_yaml_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/openapi.yml":{"get":{"summary":"Openapi","operationId":"openapi_openapi_yml_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/token":{"post":{"tags":["OAuth token routes."],"summary":"Issue Token","description":"Obtain tokens via Oauth2 flows","operationId":"issue_token_token_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/TokenBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AuthenticationSuccessResponse"},{"$ref":"#/components/schemas/AuthChallengeResponse"},{"$ref":"#/components/schemas/ErrorResponse"}],"title":"Response Issue Token Token Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity":{"get":{"tags":["Entities"],"summary":"List Entities","description":"List entities with optional query parameter filters.","operationId":"list_entities_entity_get","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":3,"maxLength":255},{"type":"null"}],"description":"Filters entities by a case-insensitive substring of the entity's name.","type":"string","minLength":3,"maxLength":255,"title":"Name"},"description":"Filters entities by a case-insensitive substring of the entity's name."},{"name":"neris_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":2,"maxLength":10},{"type":"null"}],"description":"Filters entities by a substring of the entity's NERIS ID.","type":"string","minLength":2,"maxLength":10,"title":"Neris Id"},"description":"Filters entities by a substring of the entity's NERIS ID."},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/StatesTerrs","minLength":2,"maxLength":2},{"type":"null"}],"description":"Filters entities by the two character state or province code.","type":"string","enum":["AA","AB","AE","AGU","AK","AL","AP","AR","AS","AZ","BC","BCN","BCS","CA","CAM","CHH","CHP","CMX","CO","COA","COL","CT","DC","DE","DUR","FL","FM","GA","GRO","GU","GUA","HI","HID","IA","ID","IL","IN","JAL","KS","KY","LA","MA","MB","MD","ME","MEX","MH","MI","MIC","MN","MO","MOR","MP","MS","MT","NA","NAY","NB","NC","ND","NE","NH","NJ","NL","NLE","NM","NS","NT","NU","NV","NY","OAX","OH","OK","ON","OR","PA","PE","PR","PUE","PW","QC","QUE","RI","ROO","SC","SD","SIN","SK","SLP","SON","TAB","TAM","TLA","TN","TX","UM","UT","VA","VER","VI","VT","WA","WI","WV","WY","YT","YUC","ZAC"],"title":"State"},"description":"Filters entities by the two character state or province code."},{"name":"entity_class","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/EntityClassOptions"},{"type":"null"}],"description":"Filters entities by their class.","type":"string","enum":["FEDERAL_AGENCY","FIRE_DEPARTMENT","FIRE_MARSHAL"],"title":"Entity Class"},"description":"Filters entities by their class."},{"name":"entity_subtype","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TypeEntityValue"},{"type":"null"}],"description":"Filters entities by their subtype.","type":"string","enum":["CONTRACT","FEDERAL","LOCAL","OTHER","PRIVATE","STATE","TRANSPORTATION","TRIBAL"],"title":"Entity Subtype"},"description":"Filters entities by their subtype."},{"name":"last_modified","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(before|after)\\(((\\d{1,3}[yMdhms])|((19|20)\\d{2}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?((\\+|\\-)\\d{2}:\\d{2})?))\\)$","description":"A string expression for a time period relative to and prior to either the current time or an absolute time.","examples":["before(24h) # 24 hours ago and before","after(2M) # Two months ago until current time","before(1y) # One year ago and before","before(2024-03-20T11:24:15.256+00:00) # Before 2024-03-20T11:24:15.256+00:00","after(2024-03-20T11:24:15.256+00:00) # After 2024-03-20T11:24:15.256+00:00"]},{"type":"null"}],"description":"A string expression for a time period relative to either the current time or an absolute time.","title":"Last Modified"},"description":"A string expression for a time period relative to either the current time or an absolute time.","examples":{"Before 24 hours ago":{"summary":"Before 24 hours ago","description":"Filter for entities modified 24 hours ago or prior","value":"before(24h)"},"After two months ago":{"summary":"After two months ago","description":"Filter for entities modified two months ago or later","value":"after(2M)"},"Before one year ago":{"summary":"Before one year ago","description":"Filter for entities modified one year ago or prior","value":"before(1y)"},"Before datetime":{"summary":"Before a specific datetime","description":"Filter for entities modified prior to the supplied datetime","value":"before(2024-03-20T11:24:13.275-05:00)"},"After datetime":{"summary":"After a specific datetime","description":"Filter for entities modified after the supplied datetime","value":"after(2024-03-20T11:24:13.275-05:00)"}}},{"name":"page_number","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"type":"integer","minimum":1,"default":1,"title":"Page Number"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}},{"name":"sort_by","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DeptSortBy","description":"Attribute to sort by.","type":"string","enum":["name","neris_id","address_line_1","city","state","zip_code","department_type","website","last_modified"],"default":"neris_id"},"description":"Attribute to sort by."},{"name":"sort_direction","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","description":"Order of sorting.","type":"string","enum":["ASCENDING","DESCENDING"],"default":"ASCENDING"},"description":"Order of sorting."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEntitiesSummaryInfoResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Entities"],"summary":"Create Entity","operationId":"create_entity_entity_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CreateDepartmentPayload"},{"$ref":"#/components/schemas/CreateFireMarshalPayload"},{"$ref":"#/components/schemas/CreateFederalAgencyPayload"}],"description":"Payload for the entity","title":"Payload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartmentCreatedModifiedResponse"},{"$ref":"#/components/schemas/EntityCreatedModifiedResponse"}],"title":"Response Create Entity Entity Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}":{"get":{"tags":["Entities"],"summary":"Get Entity","operationId":"get_entity_entity__neris_id_entity__get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartmentWithFeatureFlagsResponse"},{"$ref":"#/components/schemas/FireMarshalResponse"},{"$ref":"#/components/schemas/FederalAgencyResponse"}],"title":"Response Get Entity Entity  Neris Id Entity  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Entities"],"summary":"Put Entity","operationId":"put_entity_entity__neris_id_entity__put","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"description":"Entity payload - use DepartmentPayload for Department entities and FireMarshalPayload for Fire Marshal entities","title":"Body","oneOf":[{"$ref":"#/components/schemas/DepartmentPayload"},{"$ref":"#/components/schemas/FireMarshalPayload"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartmentCreatedModifiedResponse"},{"$ref":"#/components/schemas/EntityCreatedModifiedResponse"}],"title":"Response Put Entity Entity  Neris Id Entity  Put"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Entities"],"summary":"Patch Entity","description":"Patch an entity","operationId":"patch_entity_entity__neris_id_entity__patch","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"description":"Entity patch payload - only include fields to update (all fields optional).","title":"Body","oneOf":[{"$ref":"#/components/schemas/PatchDepartmentPayload"},{"$ref":"#/components/schemas/PatchFireMarshalPayload"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartmentCreatedModifiedResponse"},{"$ref":"#/components/schemas/EntityCreatedModifiedResponse"}],"title":"Response Patch Entity Entity  Neris Id Entity  Patch"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/metrics":{"get":{"tags":["Entities"],"summary":"Get Entity Metrics","operationId":"get_entity_metrics_entity__neris_id_entity__metrics_get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}},{"name":"time_zone","in":"query","required":false,"schema":{"$ref":"#/components/schemas/TimeZones","description":"Desired IANA time zone","default":"UTC"},"description":"Desired IANA time zone"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/entity_activation":{"put":{"tags":["Entities"],"summary":"Put Entity Activation","operationId":"put_entity_activation_entity__neris_id_entity__entity_activation_put","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"The entity's NERIS ID"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEntityActivationPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/entity_feature_flags":{"patch":{"tags":["Entities"],"summary":"Patch Entity Feature Flags","description":"Update entity feature flags","operationId":"patch_entity_feature_flags_entity__neris_id_entity__entity_feature_flags_patch","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityFeatureFlagsPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityFeatureFlagsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/station":{"post":{"tags":["Entities"],"summary":"Create Station","description":"Create a station","operationId":"create_station_entity__neris_id_entity__station_post","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStationPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StationCreatedModifiedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/station/{neris_id_station}":{"delete":{"tags":["Entities"],"summary":"Delete Station","description":"Remove a station and associated units","operationId":"delete_station_entity__neris_id_entity__station__neris_id_station__delete","parameters":[{"name":"neris_id_station","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}$","examples":["FD24027334S001","FD24160543S010"],"title":"The station's NERIS ID"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Entities"],"summary":"Patch Station","description":"Patch a station","operationId":"patch_station_entity__neris_id_entity__station__neris_id_station__patch","parameters":[{"name":"neris_id_station","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}$","examples":["FD24027334S001","FD24160543S010"],"title":"The station's NERIS ID"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchStationPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StationCreatedModifiedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/station/{neris_id_station}/unit":{"post":{"tags":["Entities"],"summary":"Create Unit","description":"Create a unit","operationId":"create_unit_entity__neris_id_entity__station__neris_id_station__unit_post","parameters":[{"name":"neris_id_station","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}$","examples":["FD24027334S001","FD24160543S010"],"title":"The station's NERIS ID"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUnitPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitCreatedModifiedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/station/{neris_id_station}/unit/{neris_id_unit}":{"delete":{"tags":["Entities"],"summary":"Delete Unit","description":"Remove a unit","operationId":"delete_unit_entity__neris_id_entity__station__neris_id_station__unit__neris_id_unit__delete","parameters":[{"name":"neris_id_station","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}$","examples":["FD24027334S001","FD24160543S010"],"title":"The station's NERIS ID"}},{"name":"neris_id_unit","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}U[A-Z\\d]{3}$","examples":["FD24027334S001U003","FD24160543S010U001"],"title":"The unit's NERIS ID"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Entities"],"summary":"Patch Unit","description":"Patch a unit","operationId":"patch_unit_entity__neris_id_entity__station__neris_id_station__unit__neris_id_unit__patch","parameters":[{"name":"neris_id_station","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}$","examples":["FD24027334S001","FD24160543S010"],"title":"The station's NERIS ID"}},{"name":"neris_id_unit","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}S[A-Z\\d]{3}U[A-Z\\d]{3}$","examples":["FD24027334S001U003","FD24160543S010U001"],"title":"The unit's NERIS ID"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchUnitPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitCreatedModifiedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/user_entity_membership":{"get":{"tags":["Entities"],"summary":"List User Entity Memberships","description":"List user entity memberships for the entity","operationId":"list_user_entity_memberships_entity__neris_id_entity__user_entity_membership_get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":24},{"type":"null"}],"description":"Filters users by given, family, or user names.","type":"string","minLength":1,"maxLength":24,"title":"Name"},"description":"Filters users by given, family, or user names."},{"name":"role","in":"query","required":false,"schema":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"string","format":"uuid"}],"minLength":1,"maxLength":36},{"type":"null"}],"description":"Filters users attached to a specific role for this entity. Query by a substring of role name or nuid.","type":"string","minLength":1,"maxLength":36,"title":"Role"},"description":"Filters users attached to a specific role for this entity. Query by a substring of role name or nuid."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/UserStatus"},{"type":"null"}],"description":"Filters users by user status.","type":"string","enum":["ARCHIVED","COMPROMISED","CONFIRMED","EXTERNAL_PROVIDER","FORCE_CHANGE_PASSWORD","RESET_REQUIRED","UNCONFIRMED","UNKNOWN"],"title":"Status"},"description":"Filters users by user status."},{"name":"email_verified","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filters users by email verification status.","type":"boolean","title":"Email Verified"},"description":"Filters users by email verification status."},{"name":"page_number","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"type":"integer","minimum":1,"default":1,"title":"Page Number"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUserInfoResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/entity/{neris_id_entity}/logo":{"put":{"tags":["Entities"],"summary":"Upsert Logo","description":"Upsert entity logo","operationId":"upsert_logo_entity__neris_id_entity__logo_put","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_upsert_logo_entity__neris_id_entity__logo_put"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Upsert Logo Entity  Neris Id Entity  Logo Put"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/forgot_password":{"put":{"tags":["User management"],"summary":"Finalize Forgot Password","description":"Initiate forgot password flow","operationId":"finalize_forgot_password_user_forgot_password_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizeForgotPasswordPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["User management"],"summary":"Initiate Forgot Password","description":"Initiate forgot password flow","operationId":"initiate_forgot_password_user_forgot_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateForgotPasswordPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/sync":{"put":{"tags":["User management"],"summary":"Sync User","description":"Sync a user's IDP data","operationId":"sync_user_user__sub__sync_put","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's unique ID or email address"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}":{"get":{"tags":["User management"],"summary":"Get User","description":"Get a user's attribute by their unique ID","operationId":"get_user_user__sub__get","parameters":[{"name":"sub","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"The user's sub (UUID)"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/neris__api__user__models__UserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["User management"],"summary":"Delete User","description":"Delete a user by their unique ID","operationId":"delete_user_user__sub__delete","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["User management"],"summary":"Update User","description":"Update a user's attributes","operationId":"update_user_user__sub__put","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/neris__api__user__models__UserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user":{"post":{"tags":["User management"],"summary":"Create User","description":"Create a new user","operationId":"create_user_user_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/neris__api__user__models__UserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/user_password_reset":{"put":{"tags":["User management"],"summary":"User Password Reset","description":"Reset a user's password to a temporary password","operationId":"user_password_reset_user__sub__user_password_reset_put","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/user_activation":{"put":{"tags":["User management"],"summary":"Update User Activation","description":"Set a user's activation status","operationId":"update_user_activation_user__sub__user_activation_put","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserActivationPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/user_entity_membership/{neris_id_entity}":{"post":{"tags":["User management"],"summary":"Create User Entity Membership","description":"Create a USER_ENTITY_MEMBERSHIP.","operationId":"create_user_entity_membership_user__sub__user_entity_membership__neris_id_entity__post","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's unique ID or email address"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["User management"],"summary":"Delete User Entity Membership","description":"Delete a USER_ENTITY_MEMBERSHIP.","operationId":"delete_user_entity_membership_user__sub__user_entity_membership__neris_id_entity__delete","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/user_entity_membership":{"get":{"tags":["User management"],"summary":"List User Entity Memberships","description":"List a user's USER_ENTITY_MEMBERSHIPs","operationId":"list_user_entity_memberships_user__sub__user_entity_membership_get","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's unique ID or email address"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserEntitySummaryInfoResponse"},"title":"Response List User Entity Memberships User  Sub  User Entity Membership Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/user/{sub}/user_entity_activation/{neris_id_entity}":{"put":{"tags":["User management"],"summary":"Update User Entity Activation","description":"Set a user's activation status for an entity.","operationId":"update_user_entity_activation_user__sub__user_entity_activation__neris_id_entity__put","parameters":[{"name":"sub","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"title":"The user's sub (UUID) or email address"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserActivationPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/role":{"post":{"tags":["Authorization management"],"summary":"Create Role","operationId":"create_role_auth_role_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Authorization management"],"summary":"List Roles","description":"List ROLEs for the system or per entity","operationId":"list_roles_auth_role_get","parameters":[{"name":"neris_id_entity","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"},"title":"Response List Roles Auth Role Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/role/{nuid}":{"put":{"tags":["Authorization management"],"summary":"Update Role","operationId":"update_role_auth_role__nuid__put","parameters":[{"name":"nuid","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Unique identifier for the role"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Authorization management"],"summary":"Delete Role","description":"Delete a role","operationId":"delete_role_auth_role__nuid__delete","parameters":[{"name":"nuid","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Unique identifier for the role"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/entity_set":{"post":{"tags":["Authorization management"],"summary":"Create Entity Set","operationId":"create_entity_set_auth_entity_set_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySetPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Authorization management"],"summary":"List Entity Sets","description":"List entity sets and their members.","operationId":"list_entity_sets_auth_entity_set_get","parameters":[{"name":"neris_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"description":"Filter by entity sets that have a particular entity as a member.","title":"Neris Id"},"description":"Filter by entity sets that have a particular entity as a member."},{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TypeEntitySetValue"},{"type":"null"}],"description":"Filter by entity set type.","title":"Type"},"description":"Filter by entity set type."},{"name":"page_number","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"type":"integer","minimum":1,"default":1,"title":"Page Number"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEntitySetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/entity_set/{nuid}":{"get":{"tags":["Authorization management"],"summary":"Get Entity Set","description":"Get an entity set by its unique identifier.","operationId":"get_entity_set_auth_entity_set__nuid__get","parameters":[{"name":"nuid","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Unique identifier for the entity set"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Authorization management"],"summary":"Update Entity Set","operationId":"update_entity_set_auth_entity_set__nuid__put","parameters":[{"name":"nuid","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Unique identifier for the entity set"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySetPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/user_role_entity_set_attachment":{"post":{"tags":["Authorization management"],"summary":"Create User Role Entity Set Attachment","description":"Create a USER_ROLE_ENTITY_SET_ATTACHMENT.","operationId":"create_user_role_entity_set_attachment_auth_user_role_entity_set_attachment_post","parameters":[{"name":"sub_user","in":"query","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","format":"email"}],"description":"The user's unique ID or email address","title":"Sub User"},"description":"The user's unique ID or email address"},{"name":"nuid_role","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"The role's unique ID","title":"Nuid Role"},"description":"The role's unique ID"},{"name":"nuid_entity_set","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"The entity set's unique ID","title":"Nuid Entity Set"},"description":"The entity set's unique ID"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleEntitySetAttachmentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Authorization management"],"summary":"Delete User Role Entity Set Attachments","description":"Delete a single USER_ROLE_ENTITY_SET_ATTACHMENT.","operationId":"delete_user_role_entity_set_attachments_auth_user_role_entity_set_attachment_delete","parameters":[{"name":"sub_user","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"The user's unique ID","title":"Sub User"},"description":"The user's unique ID"},{"name":"nuid_role","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"The role's unique ID","title":"Nuid Role"},"description":"The role's unique ID"},{"name":"nuid_entity_set","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"The entity set's unique ID","title":"Nuid Entity Set"},"description":"The entity set's unique ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/user_role_entity_set_attachment/{kind}/{id}":{"get":{"tags":["Authorization management"],"summary":"List User Role Entity Set Attachments","description":"List USER_ROLE_ENTITY_SET_ATTACHMENTs by sub_user, nuid_entity_set, or nuid_role.","operationId":"list_user_role_entity_set_attachments_auth_user_role_entity_set_attachment__kind___id__get","parameters":[{"name":"kind","in":"path","required":true,"schema":{"$ref":"#/components/schemas/UserRoleEntitySetAttachmentPathParameter"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRoleEntitySetAttachmentResponse"},"title":"Response List User Role Entity Set Attachments Auth User Role Entity Set Attachment  Kind   Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/user_permissions/{sub}":{"get":{"tags":["Authorization management"],"summary":"Get User Permissions","description":"Returns an object representing the user's permissions.","operationId":"get_user_permissions_auth_user_permissions__sub__get","parameters":[{"name":"sub","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sub"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPermissionsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/entity_role_entity_set_attachment/{neris_id_entity}":{"get":{"tags":["Authorization management"],"summary":"Get Entity Role Entity Set Attachment","description":"Get an entity role entity set attachment by it entity NERIS ID.","operationId":"get_entity_role_entity_set_attachment_auth_entity_role_entity_set_attachment__neris_id_entity__get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}},{"name":"type_entity_set","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TypeEntityValue"},{"type":"null"}],"description":"Filter by entity type.","title":"Type Entity Set"},"description":"Filter by entity type."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityRoleEntitySetAttachmentResponse"},"title":"Response Get Entity Role Entity Set Attachment Auth Entity Role Entity Set Attachment  Neris Id Entity  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_entity}/{neris_id_incident}":{"get":{"tags":["Incidents"],"summary":"Get Incident","description":"Retrieve an individual incident.","operationId":"get_incident_incident__neris_id_entity___neris_id_incident__get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}},{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"}},{"name":"geo_format","in":"query","required":false,"schema":{"enum":["url","geojson"],"type":"string","description":"Whether point/polygon fields are pygeoapi URLs or inline GeoJSON.","default":"url","title":"Geo Format"},"description":"Whether point/polygon fields are pygeoapi URLs or inline GeoJSON."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Incidents"],"summary":"Patch Incident","description":"Patch an incident","operationId":"patch_incident_incident__neris_id_entity___neris_id_incident__patch","parameters":[{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"},"description":"The incident's NERIS ID"},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchIncidentAction"},"examples":{"valid":{"summary":"A valid patch incident payload","value":{"neris_id":"FD24027214|2025-10-13:04|1753833600","action":"patch","properties":{"actions_tactics":{"action":"set","value":{"action_noaction":{"type":"ACTION","actions":["HAZARDOUS_SITUATION_MITIGATION||REMOVE_HAZARD","PERSONNEL_CONTAMINATION_REDUCTION||CLEAN_CAB_TRANSPORT"]}}},"special_modifiers":{"action":"set","value":["URBAN_CONFLAGRATION","VIOLENCE_AGAINST_RESPONDER"]},"aids":[{"action":"append","value":{"department_neris_id":"FD24027000","aid_type":"SUPPORT_AID","aid_direction":"GIVEN"}}],"base":{"action":"patch","neris_uid":999,"properties":{"point":{"action":"set","value":{"crs":4326,"source":"API_SUBMISSION","geometry":{"coordinates":[-122.4758621,37.7632405]}}}}},"smoke_alarm":{"action":"patch","neris_uid":999,"properties":{"presence":{"action":"patch","neris_uid":999,"properties":{"alarm_types":{"action":"set","value":["HARDWIRED"]}}}}},"fire_alarm":{"action":"set","value":{"presence":{"type":"NOT_PRESENT"}}},"electric_hazards":[{"action":"remove","neris_uid":999}],"medical_oxygen_hazard":{"action":"set","value":{"presence":{"type":"NOT_PRESENT"}}},"dispatch":{"action":"patch","neris_uid":999,"properties":{"center_id":{"action":"set","value":"1235"},"incident_number":{"action":"set","value":"1725295159"},"determinant_code":{"action":"set","value":"A1234"},"incident_code":{"action":"unset"},"disposition":{"action":"set","value":"Structure fire suppressed on first alarm, 2 occupants rescued, occupants refused treatment."},"incident_clear":{"action":"unset"},"automatic_alarm":{"action":"unset"},"tactic_timestamps":{"action":"patch","neris_uid":999,"properties":{"command_established":{"action":"set","value":"2025-05-03T18:50:24+00:00"}}},"unit_responses":[{"action":"patch","neris_uid":999,"properties":{"unit_neris_id":{"action":"set","value":"FD24027214S000U002"},"reported_unit_id":{"action":"set","value":"E84"},"point":{"action":"set","value":{"crs":4326,"source":"API_SUBMISSION","geometry":{"type":"Point","coordinates":[-76.820114,39.186229]}}},"dispatch":{"action":"set","value":"2025-05-03T18:50:24+00:00"},"enroute_to_scene":{"action":"set","value":"2025-05-03T18:51:13+00:00"},"on_scene":{"action":"unset"},"unit_clear":{"action":"unset"},"med_responses":[{"action":"append","value":{"at_patient":"2025-05-03T18:52:44+00:00","enroute_to_hospital":"2025-05-03T18:58:19+00:00","arrived_at_hospital":"2025-05-03T19:07:24+00:00","hospital_destination":"University Regional Health Center"}}]}}]}},"powergen_hazards":[{"action":"append","value":{"type":"PHOTOVOLTAICS","source_or_target":"SOURCE","pv_type":"THIN_FILM_POWER_GENERATION"}},{"action":"patch","neris_uid":999,"properties":{"type":{"action":"set","value":"NOT_APPLICABLE"}}},{"action":"remove","neris_uid":1000}]}}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentUpdatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Incidents"],"summary":"Put Incident","description":"Update an incident","operationId":"put_incident_incident__neris_id_entity___neris_id_incident__put","parameters":[{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"},"description":"The incident's NERIS ID"},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutIncidentPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentUpdatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_dept}/{neris_id_incident}/history":{"get":{"tags":["Incidents"],"summary":"Get Incident History","description":"Chronogolical history of the incident","operationId":"get_incident_history_incident__neris_id_dept___neris_id_incident__history_get","parameters":[{"name":"neris_id_dept","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"],"title":"Neris Id Dept"}},{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_entity}/{neris_id_incident}/report":{"get":{"tags":["Incidents"],"summary":"Get Incident Report","description":"Retrieve the printable report for an individual incident.","operationId":"get_incident_report_incident__neris_id_entity___neris_id_incident__report_get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}},{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"}}],"responses":{"200":{"description":"Returns the incident report.","content":{"application/pdf":{}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_dept}/{neris_id_incident}":{"delete":{"tags":["Incidents"],"summary":"Delete Incident","description":"Delete an incident.","operationId":"delete_incident_incident__neris_id_dept___neris_id_incident__delete","parameters":[{"name":"neris_id_dept","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"],"title":"Neris Id Dept"}},{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_entity}/validate":{"post":{"tags":["Incidents"],"summary":"Validate Incident","description":"Validate an incident payload.","operationId":"validate_incident_incident__neris_id_entity__validate_post","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentPayload"}}}},"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_entity}":{"post":{"tags":["Incidents"],"summary":"Create Incident","description":"Create a new incident for an entity.","operationId":"create_incident_incident__neris_id_entity__post","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentCreatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident":{"get":{"tags":["Incidents"],"summary":"List Incidents","description":"List incidents","operationId":"list_incidents_incident_get","parameters":[{"name":"neris_id_entity","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}},{"name":"nuid_entity_set","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"An entity set's unique identifier","title":"Nuid Entity Set"},"description":"An entity set's unique identifier"},{"name":"incident_types","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/IncidentFilterType"}},{"type":"null"}],"description":"One or more incident type or subtype","title":"Incident Types"},"description":"One or more incident type or subtype"},{"name":"incident_types_set_operation","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SetOperation","description":"Whether to return the union or intersection of incident types listed in the `incident_types` parameter","default":"UNION"},"description":"Whether to return the union or intersection of incident types listed in the `incident_types` parameter"},{"name":"call_create_start","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time","description":"An ISO 8601 formatted datetime string or Unix time (seconds since 1 January 1970) as a float, integer, or string.","examples":["2024-06-13T21:14:02.162497-07:00","1718338442.162497",1718338442.162497,1718338442]},{"type":"null"}],"description":"Earliest time an incident's dispatch call could be opened","title":"Call Create Start"},"description":"Earliest time an incident's dispatch call could be opened"},{"name":"call_create_end","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time","description":"An ISO 8601 formatted datetime string or Unix time (seconds since 1 January 1970) as a float, integer, or string.","examples":["2024-06-13T21:14:02.162497-07:00","1718338442.162497",1718338442.162497,1718338442]},{"type":"null"}],"description":"Latest time an incident's dispatch call could be opened","title":"Call Create End"},"description":"Latest time an incident's dispatch call could be opened"},{"name":"incident_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case insensitive substring to match against `incident_number`","title":"Incident Number"},"description":"Case insensitive substring to match against `incident_number`"},{"name":"dispatch_incident_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case insensitive substring to match against `dispatch.incident_number`","title":"Dispatch Incident Number"},"description":"Case insensitive substring to match against `dispatch.incident_number`"},{"name":"include_aid","in":"query","required":false,"schema":{"$ref":"#/components/schemas/AidDirection","description":"Include incidents linked to the department in `neris_id_entity` via aid"},"description":"Include incidents linked to the department in `neris_id_entity` via aid"},{"name":"aid","in":"query","required":false,"schema":{"$ref":"#/components/schemas/AidDirection","description":"Only incidents linked to the department in `neris_id_entity` via aid"},"description":"Only incidents linked to the department in `neris_id_entity` via aid"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/TypeIncidentStatusValue"}},{"type":"null"}],"description":"Status of the incident","title":"Status"},"description":"Status of the incident"},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/StatesTerrs","minLength":2,"maxLength":2},{"type":"null"}],"description":"Filters incidents by the two character state or province code.","title":"State"},"description":"Filters incidents by the two character state or province code."},{"name":"last_modified","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(before|after)\\(((\\d{1,3}[yMdhms])|((19|20)\\d{2}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?((\\+|\\-)\\d{2}:\\d{2})?))\\)$","description":"A string expression for a time period relative to and prior to either the current time or an absolute time.","examples":["before(24h) # 24 hours ago and before","after(2M) # Two months ago until current time","before(1y) # One year ago and before","before(2024-03-20T11:24:15.256+00:00) # Before 2024-03-20T11:24:15.256+00:00","after(2024-03-20T11:24:15.256+00:00) # After 2024-03-20T11:24:15.256+00:00"]},{"type":"null"}],"description":"A string expression for a time period relative to either the current time or an absolute time.","title":"Last Modified"},"description":"A string expression for a time period relative to either the current time or an absolute time.","examples":{"Before 24 hours ago":{"summary":"Before 24 hours ago","description":"Filter for incidents modified 24 hours ago or prior","value":"before(24h)"},"After two months ago":{"summary":"After two months ago","description":"Filter for incidents modified two months ago or later","value":"after(2M)"},"Before one year ago":{"summary":"Before one year ago","description":"Filter for incidents modified one year ago or prior","value":"before(1y)"},"Before datetime":{"summary":"Before a specific datetime","description":"Filter for incidents modified prior to the supplied datetime","value":"before(2024-03-20T11:24:13.275-05:00)"},"After datetime":{"summary":"After a specific datetime","description":"Filter for incidents modified after the supplied datetime","value":"after(2024-03-20T11:24:13.275-05:00)"}}},{"name":"sort_by","in":"query","required":false,"schema":{"$ref":"#/components/schemas/IncidentSortBy","description":"Which field to sort incidents by","default":"call_create"},"description":"Which field to sort incidents by"},{"name":"sort_direction","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","description":"The direction of sorting","default":"DESCENDING"},"description":"The direction of sorting"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The pagination cursor","title":"Cursor"},"description":"The pagination cursor"},{"name":"geo_format","in":"query","required":false,"schema":{"enum":["url","geojson"],"type":"string","description":"Whether point/polygon fields are pygeoapi URLs or inline GeoJSON.","default":"url","title":"Geo Format"},"description":"Whether point/polygon fields are pygeoapi URLs or inline GeoJSON."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListIncidentsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident/{neris_id_entity}/{neris_id_incident}/incident_status":{"put":{"tags":["Incidents"],"summary":"Put Incident Status","description":"Update the status of an incident","operationId":"put_incident_status_incident__neris_id_entity___neris_id_incident__incident_status_put","parameters":[{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"},"description":"The incident's NERIS ID"},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIncidentStatusPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis/{neris_id_entity}":{"get":{"tags":["Incident Analysis"],"summary":"Get Incident Analysis","operationId":"get_incident_analysis_incident_analysis__neris_id_entity__get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}},{"name":"neris_id_ia","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^IA\\|FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["IA|FD12345678|abc123xyz|1729023498","IA|FD24027334|incident42:f-tiw|1729023498","IA|FD12345678|0457812893477|1729023498"]},{"type":"null"}],"title":"Neris Id Ia"}},{"name":"neris_id_incident","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"]},{"type":"null"}],"title":"Neris Id Incident"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis/{neris_id_entity}/report":{"get":{"tags":["Incident Analysis"],"summary":"Get Incident Analysis Report","description":"Retrieve the printable report for an individual incident analysis.","operationId":"get_incident_analysis_report_incident_analysis__neris_id_entity__report_get","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|FM|FA)\\d{8}$","examples":["FD24027334","FM24001001","FA24001001"],"title":"Neris Id Entity"}},{"name":"neris_id_ia","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^IA\\|FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["IA|FD12345678|abc123xyz|1729023498","IA|FD24027334|incident42:f-tiw|1729023498","IA|FD12345678|0457812893477|1729023498"]},{"type":"null"}],"title":"Neris Id Ia"}},{"name":"neris_id_incident","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"]},{"type":"null"}],"title":"Neris Id Incident"}}],"responses":{"200":{"description":"Returns the incident analysis report.","content":{"application/pdf":{}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis/{neris_id_incident}":{"post":{"tags":["Incident Analysis"],"summary":"Create Incident Analysis","description":"Create a new incident for an entity.","operationId":"create_incident_analysis_incident_analysis__neris_id_incident__post","parameters":[{"name":"neris_id_incident","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["FD12345678|abc123xyz|1729023498","FD24027334|incident42:f-tiw|1729023498","FD12345678|0457812893477|1729023498"],"title":"Neris Id Incident"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisCreatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis/{neris_id_entity}/{neris_id_ia}":{"put":{"tags":["Incident Analysis"],"summary":"Put Incident Analysis","description":"Update an incident analysis","operationId":"put_incident_analysis_incident_analysis__neris_id_entity___neris_id_ia__put","parameters":[{"name":"neris_id_ia","in":"path","required":true,"schema":{"type":"string","pattern":"^IA\\|FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["IA|FD12345678|abc123xyz|1729023498","IA|FD24027334|incident42:f-tiw|1729023498","IA|FD12345678|0457812893477|1729023498"],"title":"Neris Id Ia"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutIncidentAnalysisPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisUpdatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Incident Analysis"],"summary":"Delete Incident Analysis","description":"Delete an incident.","operationId":"delete_incident_analysis_incident_analysis__neris_id_entity___neris_id_ia__delete","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"],"title":"Neris Id Entity"}},{"name":"neris_id_ia","in":"path","required":true,"schema":{"type":"string","pattern":"^IA\\|FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["IA|FD12345678|abc123xyz|1729023498","IA|FD24027334|incident42:f-tiw|1729023498","IA|FD12345678|0457812893477|1729023498"],"title":"Neris Id Ia"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis/{neris_id_entity}/{neris_id_ia}/incident_analysis_status":{"put":{"tags":["Incident Analysis"],"summary":"Put Incident Analysis Status","description":"Update the status of an incident analysis","operationId":"put_incident_analysis_status_incident_analysis__neris_id_entity___neris_id_ia__incident_analysis_status_put","parameters":[{"name":"neris_id_ia","in":"path","required":true,"schema":{"type":"string","pattern":"^IA\\|FD\\d{8}\\|[\\w\\-\\:]+\\|\\d{10}$","examples":["IA|FD12345678|abc123xyz|1729023498","IA|FD24027334|incident42:f-tiw|1729023498","IA|FD12345678|0457812893477|1729023498"],"title":"Neris Id Ia"}},{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisStatusPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentAnalysisStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/incident_analysis":{"get":{"tags":["Incident Analysis"],"summary":"List Incident Analyses","description":"List incident analyses","operationId":"list_incident_analyses_incident_analysis_get","parameters":[{"name":"neris_id_entity","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"]},{"type":"null"}],"title":"NERIS ID of the entity"}},{"name":"last_modified","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^(before|after)\\(((\\d{1,3}[yMdhms])|((19|20)\\d{2}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?((\\+|\\-)\\d{2}:\\d{2})?))\\)$","description":"A string expression for a time period relative to and prior to either the current time or an absolute time.","examples":["before(24h) # 24 hours ago and before","after(2M) # Two months ago until current time","before(1y) # One year ago and before","before(2024-03-20T11:24:15.256+00:00) # Before 2024-03-20T11:24:15.256+00:00","after(2024-03-20T11:24:15.256+00:00) # After 2024-03-20T11:24:15.256+00:00"]},{"type":"null"}],"description":"A string expression for a time period relative to either the current time or an absolute time.","title":"Last Modified"},"description":"A string expression for a time period relative to either the current time or an absolute time.","examples":{"Before 24 hours ago":{"summary":"Before 24 hours ago","description":"Filter for incidents modified 24 hours ago or prior","value":"before(24h)"},"After two months ago":{"summary":"After two months ago","description":"Filter for incidents modified two months ago or later","value":"after(2M)"},"Before one year ago":{"summary":"Before one year ago","description":"Filter for incidents modified one year ago or prior","value":"before(1y)"},"Before datetime":{"summary":"Before a specific datetime","description":"Filter for incidents modified prior to the supplied datetime","value":"before(2024-03-20T11:24:13.275-05:00)"},"After datetime":{"summary":"After a specific datetime","description":"Filter for incidents modified after the supplied datetime","value":"after(2024-03-20T11:24:13.275-05:00)"}}},{"name":"sort_by","in":"query","required":false,"schema":{"$ref":"#/components/schemas/IncidentAnalysisSortBy","description":"Which field to sort incident analyses by","default":"neris_id_entity"},"description":"Which field to sort incident analyses by"},{"name":"sort_direction","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","description":"The direction of sorting","default":"DESCENDING"},"description":"The direction of sorting"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The pagination cursor","title":"Cursor"},"description":"The pagination cursor"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListIncidentAnalysesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/integration/{entity_id}":{"post":{"tags":["Account management"],"summary":"Create an API integration.","description":"Create an API integration for an entity.","operationId":"create_integration_account_integration__entity_id__post","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIntegrationAccountPayload"},"examples":{"example":{"title":"ACME Records Management","type":"RMS"}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIntegrationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/integration/{client_id}":{"delete":{"tags":["Account management"],"summary":"Delete an API integration.","description":"Delete an API integration for an entity.","operationId":"delete_integration_account_integration__client_id__delete","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Client Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/credential/{client_id}":{"post":{"tags":["Account management"],"summary":"Create a new client secret.","description":"Create a new credential (client secret) for an integration account.","operationId":"create_integration_credential_account_credential__client_id__post","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Client Id"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIntegrationCredentialResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/credential/{client_id}/{credential_id}":{"delete":{"tags":["Account management"],"summary":"Delete Integration Credential","description":"Delete an integration credential","operationId":"delete_integration_credential_account_credential__client_id___credential_id__delete","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Client Id"}},{"name":"credential_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","descriptino":"The credential id","title":"Credential Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/integration/{entity_id}/list":{"get":{"tags":["Account management"],"summary":"List API integrations.","description":"List API integrations for an entity.","operationId":"list_integrations_by_entity_account_integration__entity_id__list_get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListIntegrationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/enrollment/{entity_id}/{client_id}":{"post":{"tags":["Account management"],"summary":"Enroll Integration","description":"Grants permission to a api integration to the entity's data.","operationId":"enroll_integration_account_enrollment__entity_id___client_id__post","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The client_id of the api integration to enroll","title":"Client Id"},"description":"The client_id of the api integration to enroll"},{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationEnrollmentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Account management"],"summary":"Delete Integration Enrollment","description":"Removes the permission of an API integration to access the entity's data.","operationId":"delete_integration_enrollment_account_enrollment__entity_id___client_id__delete","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The client_id of the API integration to remove","title":"Client Id"},"description":"The client_id of the API integration to remove"},{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/enrollment/{client_id}":{"get":{"tags":["Account management"],"summary":"List integration enrollments.","description":"Lists integration enrollments by integration.","operationId":"list_enrollments_by_integration_account_enrollment__client_id__get","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Client Id"}},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":36},{"type":"null"}],"description":"Substring of the integration title","type":"string","minLength":1,"maxLength":36,"title":"Title"},"description":"Substring of the integration title"},{"name":"entity_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":36},{"type":"null"}],"description":"Substring of the entity name","type":"string","minLength":1,"maxLength":36,"title":"Entity Name"},"description":"Substring of the entity name"},{"name":"page_number","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"type":"integer","minimum":1,"default":1,"title":"Page Number"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListIntegrationEnrollmentsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/account/enrollment/{entity_id}":{"get":{"tags":["Account management"],"summary":"List integration enrollments.","description":"Lists integration enrollments by entity.","operationId":"list_enrollments_by_entity_account_enrollment__entity_id__get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":36},{"type":"null"}],"description":"Substring of the integration title","type":"string","minLength":1,"maxLength":36,"title":"Title"},"description":"Substring of the integration title"},{"name":"page_number","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"type":"integer","minimum":1,"default":1,"title":"Page Number"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListIntegrationEnrollmentsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/no_activity_report/{neris_uid}":{"get":{"tags":["No activity report"],"summary":"Get No Activity Report","description":"Retrieve a no activity report by unique ID","operationId":"get_no_activity_report_no_activity_report__neris_uid__get","parameters":[{"name":"neris_uid","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The unique ID","title":"Neris Uid"},"description":"The unique ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoActivityReportResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["No activity report"],"summary":"Delete No Activity Report","description":"Delete a no activity report by unique ID","operationId":"delete_no_activity_report_no_activity_report__neris_uid__delete","parameters":[{"name":"neris_uid","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The unique ID","title":"Neris Uid"},"description":"The unique ID"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/no_activity_report":{"get":{"tags":["No activity report"],"summary":"List No Activity Reports","description":"List no activity reports","operationId":"list_no_activity_reports_no_activity_report_get","parameters":[{"name":"neris_id_entity","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"]},{"type":"null"}],"description":"NERIS ID of the entity","title":"Neris Id Entity"},"description":"NERIS ID of the entity"},{"name":"start_month_year","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[0-1][0-9]/20[2-9][0-9]$","examples":["12/2025","06/2026","01/2025"]},{"type":"null"}],"description":"Beginning month/year for filtering, inclusive","title":"Start Month Year"},"description":"Beginning month/year for filtering, inclusive"},{"name":"end_month_year","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[0-1][0-9]/20[2-9][0-9]$","examples":["12/2025","06/2026","01/2025"]},{"type":"null"}],"description":"Ending month/year for filtering, inclusive","title":"End Month Year"},"description":"Ending month/year for filtering, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListNoActivityReportResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/no_activity_report/{neris_id_entity}":{"post":{"tags":["No activity report"],"summary":"Create No Activity Report","description":"Create a no activity report","operationId":"create_no_activity_report_no_activity_report__neris_id_entity__post","parameters":[{"name":"neris_id_entity","in":"path","required":true,"schema":{"type":"string","pattern":"^(FD|VN|FM|FA)\\d{8}$","examples":["VN24027334","FD24160543"],"title":"NERIS ID of the entity"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoActivityReportPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoActivityReportResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ActionPayload":{"properties":{"type":{"type":"string","const":"ACTION","title":"Type","description":"`ACTION` indicates action was taken","default":"ACTION"},"actions":{"anyOf":[{"items":{"$ref":"#/components/schemas/TypeActionTacticValue"},"type":"array"},{"type":"null"}],"title":"Actions","description":"Actions taken by the fire department on the scene of the incident.","x-ui-label":"Actions and Tactics Concat"}},"additionalProperties":false,"type":"object","title":"ActionPayload"},"ActionResponse":{"properties":{"type":{"type":"string","const":"ACTION","title":"Type","description":"`ACTION` indicates action was taken","default":"ACTION"},"actions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Actions","description":"Actions taken by the fire department on the scene of the incident."}},"type":"object","title":"ActionResponse"},"ActionTacticPayload":{"properties":{"action_noaction":{"oneOf":[{"$ref":"#/components/schemas/ActionPayload"},{"$ref":"#/components/schemas/NoactionPayload"}],"title":"Action Noaction","discriminator":{"propertyName":"type","mapping":{"ACTION":"#/components/schemas/ActionPayload","NOACTION":"#/components/schemas/NoactionPayload"}}}},"additionalProperties":false,"type":"object","required":["action_noaction"],"title":"ActionTacticPayload"},"ActionTacticResponse":{"properties":{"neris_uid":{"type":"integer","title":"Neris Uid","description":"The NERIS unique identifier for the item."},"last_modified":{"type":"string","format":"date-time","title":"Last Modified","description":"The date and time the top-level item was created or updated in the system.","examples":["2024-06-13T21:14:02.162497-07:00","1718338442.162497",1718338442.162497,1718338442]},"action_noaction":{"oneOf":[{"$ref":"#/components/schemas/ActionResponse"},{"$ref":"#/components/schemas/NoactionResponse"}],"title":"Action Noaction","discriminator":{"propertyName":"type","mapping":{"ACTION":"#/components/schemas/ActionResponse","NOACTION":"#/components/schemas/NoactionResponse"}}}},"additionalProperties":false,"type":"object","required":["last_modified","action_noaction"],"title":"ActionTacticResponse"},"AidAgreementPayload":{"properties":{"neris_id_dept":{"type":"string","pattern":"^FD\\d{8}$","title":"Neris Id Dept","examples":["FD24027334","FD24160543"]},"type":{"$ref":"#/components/schemas/TypeAidAgreementValue"}},"additionalProperties":false,"type":"object","required":["neris_id_dept","type"],"title":"AidAgreementPayload"},"AidAgreementResponse":{"properties":{"neris_id_dept":{"type":"string","pattern":"^FD\\d{8}$","title":"Neris Id Dept","examples":["FD24027334","FD24160543"]},"type":{"type":"string","title":"Type"},"confirmed":{"type":"boolean","title":"Confirmed"}},"type":"object","required":["neris_id_dept","type","confirmed"],"title":"AidAgreementResponse"},"AidDirection":{"type":"string","enum":["ALL","GIVEN","RECEIVED"],"title":"AidDirection"},"AidPayload":{"properties":{"department_neris_id":{"anyOf":[{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"]},{"type":"string","pattern":"^FM\\d{8}$","examples":["FM24000000","FM24001001"]}],"title":"Department Neris Id","description":"NERIS ID of the fire department or marshal to which aid was given/received.","examples":["FD24027000","FM24000000"],"x-ui-label":"NERIS ID of fire department for which aid was provided.","x-ui-hint":"<a href=https://neris.fsri.org/departments?name=&sort_by=name&sort_direction=ASCENDING target=\"_blank\">Search for NERIS ID</a>"},"aid_type":{"$ref":"#/components/schemas/TypeAidValue","description":"The type of aid provided","x-ui-label":"Describe the nature of the aid provided.","x-ui-hint":"Select one."},"aid_direction":{"$ref":"#/components/schemas/TypeAidDirectionValue","description":"The direction aid was provided","x-ui-label":"Was aid provided by or given to another agency on the incident?","x-ui-hint":"Select one."}},"additionalProperties":false,"type":"object","required":["department_neris_id","aid_type","aid_direction"],"title":"AidPayload"},"AidResponse":{"properties":{"neris_uid":{"type":"integer","title":"Neris Uid","description":"The NERIS unique identifier for the item."},"last_modified":{"type":"string","format":"date-time","title":"Last Modified","description":"The date and time the top-level item was created or updated in the system.","examples":["2024-06-13T21:14:02.162497-07:00","1718338442.162497",1718338442.162497,1718338442]},"department_neris_id":{"anyOf":[{"type":"string","pattern":"^FD\\d{8}$","examples":["FD24027334","FD24160543"]},{"type":"string","pattern":"^FM\\d{8}$","examples":["FM24000000","FM24001001"]}],"title":"Department Neris Id","description":"NERIS ID of the fire department or marshal to which aid was given/received.","examples":["FD24027000","FM24000000"]},"aid_type":{"type":"string","title":"Aid Type","description":"The type of aid provided"},"aid_direction":{"type":"string","title":"Aid Direction","description":"The direction aid was provided"}},"type":"object","required":["last_modified","department_neris_id","aid_type","aid_direction"],"title":"AidResponse"},"AppendAidAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/AidPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendAidAction"},"AppendCasualtyRescueAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/CasualtyRescuePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendCasualtyRescueAction"},"AppendChemicalAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/ChemicalPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendChemicalAction"},"AppendCommentAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/CommentPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendCommentAction"},"AppendCrossStreetAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/CrossStreetPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendCrossStreetAction"},"AppendDispatchUnitResponseAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/DispatchUnitResponsePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendDispatchUnitResponseAction"},"AppendElectricHazardAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/ElectricHazardPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendElectricHazardAction"},"AppendExposureAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/ExposurePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendExposureAction"},"AppendIncidentTypeAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/IncidentTypePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendIncidentTypeAction"},"AppendIncidentUnitResponseAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/IncidentUnitResponsePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendIncidentUnitResponseAction"},"AppendLocationAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/LocationPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendLocationAction"},"AppendMedResponseAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/MedResponsePayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendMedResponseAction"},"AppendMedicalAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/MedicalPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendMedicalAction"},"AppendOtherPowergenHazardAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/OtherPowergenHazardPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendOtherPowergenHazardAction"},"AppendPvPowergenHazardAction":{"properties":{"action":{"type":"string","const":"append","title":"Action","description":"Append an element to the array"},"value":{"$ref":"#/components/schemas/PvPowergenHazardPayload"}},"additionalProperties":false,"type":"object","required":["action","value"],"title":"AppendPvPowergenHazardAction"},"AssessmentInfo":{"properties":{"primary_year_built":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Primary Year Built","description":"The year the primary structure on the property was built"},"primary_zoning":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Primary Zoning","description":"Actual city zoning, unique to each incorporated area as reported to the County. Please note that it is not always current, nor reported","examples":["RP","NT"]},"primary_use":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Primary Use","description":"Description of the Standardized Land Use Code","examples":["OFFICE_BUILDING"]},"primary_owner_occupied":{"anyOf":[{"$ref":"#/components/schemas/YesOrNo"},{"type":"null"}],"description":"Indicates if the property is occupied by the owner"},"primary_assessment_land":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Primary Assessment Land","description":"The assessed land value in dollars"},"computed_loss":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Computed Loss","description":"The estimated, computed value lost due to structure fire based on damage type.  Value is in dollars."}},"type":"object","title":"AssessmentInfo","description":"Assessment information for a parcel."},"AssessmentPayload":{"properties":{"iso_rating":{"anyOf":[{"type":"integer","exclusiveMaximum":11.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Iso Rating"},"cpse_accredited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Cpse Accredited"},"caas_accredited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Caas Accredited"}},"additionalProperties":false,"type":"object","title":"AssessmentPayload"},"AssessmentResponse":{"properties":{"iso_rating":{"anyOf":[{"type":"integer","exclusiveMaximum":11.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Iso Rating"},"cpse_accredited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Cpse Accredited"},"caas_accredited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Caas Accredited"}},"type":"object","title":"AssessmentResponse"},"AuthChallengeResponse":{"properties":{"challenge_name":{"type":"string","enum":["email_otp","software_token_mfa","new_password_required"],"title":"Challenge Name"},"session":{"type":"string","title":"Session"}},"type":"object","required":["challenge_name","session"],"title":"AuthChallengeResponse"},"AuthError":{"type":"string","enum":["invalid_request","invalid_grant","invalid_client","unauthorized_client","unsupported_grant_type","invalid_scope"],"title":"AuthError"},"AuthenticationSuccessResponse":{"properties":{"access_token":{"type":"string","title":"Access Token","description":"The access token issued by the authorization server."},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token","description":"The refresh token. The server automatically rotates refresh tokens. Clients should always use the latest refresh token."},"expires_in":{"type":"integer","title":"Expires In","description":"The lifetime in seconds of the access token."},"token_type":{"type":"string","const":"bearer","title":"Token Type","description":"The type of the token. The only value supported by the Neris authorization server is \"bearer\".","default":"bearer"}},"type":"object","required":["access_token","expires_in"],"title":"AuthenticationSuccessResponse"},"BatteryPayload":{"properties":{"original_battery":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Original Battery","description":"Whether the battery was the product's original battery.","x-ui-label":"Was this the product's original battery?"},"safety_listed":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Safety Listed","description":"Whether the product was listed by an independent safety testing company.","x-ui-label":"Was the product listed by an independent safety testing company?"},"voltage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Voltage","description":"The voltage of the battery.","x-ui-label":"Describe the voltage of the battery."},"watt_hour":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Watt Hour","description":"The watt hour of the battery.","x-ui-label":"Describe the watt-hour size of the battery."},"amp_hour":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Amp Hour","description":"The amp hour of the battery.","x-ui-label":"Describe the amp-hour size of the battery."},"charging":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Charging","description":"Whether the battery was plugged in/charging at the time of the incident.","x-ui-label":"Was the battery plugged in / charging at the time of the incident?"},"installed":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Installed","description":"Whether the battery was permanently installed.","x-ui-label":"Was the battery permanently installed?","x-ui-hint":"e.g., a home battery attached to a wall."},"direct_sunlight":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Direct Sunlight","de
[...]
