@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resgrid | Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resgrid System Maintenance">
        <meta name="author" content="Resgrid">
			
        <link href="https://resgrid.com/content/internal/bootstrap.min.css" rel="stylesheet">
        <link href="https://resgrid.com/content/internal/base.css" rel="stylesheet">
        <link href="https://resgrid.com/content/internal/error-page.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>

        <link href="https://resgrid.com/content/internal/bootstrap-responsive.css" rel="stylesheet">
        <link href="https://resgrid.com/content/internal/media-fluid.css" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body class="error">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">

                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="http://resgrid.com"><img src="https://resgrid.com/Images/resgrid_logo_light_med.png" alt="Resgrid Logo" width="151" height="37" /></a>
                    <div class="group-menu nav-collapse"> 

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12">

                    <div class="errorWrapper">
                        <h1 class="pageErrorTitle">Unfortunately, an error occurred.</h1>
                        <span>We recommend that you try to go back to the previous page (or re-log in) and try the operation again.</span>
                        <br>
                        <a href="javascript:history.back()" class="btn btn-info btn-toolbar btn-large"><i class="icon-chevron-left icon-white"></i> Back to Previous Page</a> &nbsp; <a href="http://resgrid.com" class="btn btn-info btn-toolbar btn-large"><i class="icon-th-large icon-white"></i> Return to Home</a>
												<br /><br />
												<p>If you retry the operation and it still fails please help us understand the cause of this error, please <a href="mailto:tickets@resgrid.uservoice.com">send us an email</a> with as much of the following information as you can provide:</p>
												<p>
													The page/URL you were trying to view, the action you were trying to accomplish (e.g. sign in, view a page, download a document, etc.) and your user name and department.
												</p>

												<p>Thank you!</p>
										</div>
									</div>
            </div>
        </div>

        <script src="https://resgrid.com/scripts/internal/jquery.min.js"></script>
        <script src="https://resgrid.com/scripts/internal/bootstrap.min.js"></script>
    </body>
</html>