@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Orders.NewOrderView
@{
    ViewBag.Title = "Resgrid | New Order";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>New Order</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
            </li>
            <li>
                <a asp-controller="Orders" asp-action="Index" asp-route-area="User">Orders</a>
            </li>
            <li class="active">
                <strong>New Order</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" asp-controller="Orders" asp-action="New" asp-route-area="User" method="post" id="newOrderForm">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-success">
                                        @Model.Message
                                    </div>
                                }
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Title
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Short Title for the Order" asp-for="Order.Title">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Summary
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-10">
                                    <textarea cols="30" rows="10" class="form-control" placeholder="A summary for the order" asp-for="Order.Summary"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Close Order On
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" asp-for="Order.NeededBy">
                                    <span class="help-block m-b-none">The time that the order needs filled by, depending on the order type it may be automatically closed at this time.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Incident Number
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Incident ID or number" asp-for="Order.IncidentNumber">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Incident Name
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Name of the Incident" asp-for="Order.IncidentName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Incident Address
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Address of the Incident, IC or Command Post" asp-for="Order.IncidentAddress">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Finance Code
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Financial code for the incident or order" asp-for="Order.FinancialCode">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Contact Name
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Name of the point of contact for the meetup or incident" asp-for="Order.ContactName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Contact Number
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Number of the point of contact for the meetup or incident" asp-for="Order.ContactNumber">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Meetup Location
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Location where the units from the filled orders will meet" asp-for="Order.MeetupLocation">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Meetup Time
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" asp-for="Order.MeetupDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Special Instructions
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-10">
                                    <textarea cols="30" rows="10" class="form-control" placeholder="Any special instructions or requirements for the order" asp-for="Order.SpecialInstructions"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Allow Partial Fills</label>
                            <div class="col-sm-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" asp-for="Order.AllowPartialFills">
                                    <label></label>
                                </div>
                                <span class="help-block m-b-none">Allow a department to partially fill a resource order item (this allows multiple units from multiple departments to fill an item)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Auto-Accept Fills</label>
                            <div class="col-sm-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" asp-for="Order.AutomaticFillAcceptance">
                                    <label></label>
                                </div>
                                <span class="help-block m-b-none">The system will automatically accept fills (partial based on the Allow Partial Fills setting) on first come first service</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Order Items
                            </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-xs-10">Click the green "Add" button to add items to this order, items are groups of similar units you wish to be a part of the order.<br /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="orders" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="max-width: 200px;font-size: 14px;">Resource</th>
                                                    <th>Min</th>
                                                    <th>Max</th>
                                                    <th>Financial Code</th>
                                                    <th>Special Needs</th>
                                                    <th>Requirements</th>
                                                    <th style="width: 60px;font-size: 16px;"><a id="addItemButton" class="btn btn-success btn-xs" onclick="resgrid.orders.newOrder.addItem();" data-original-title="Add Order Item">Add</a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Orders" asp-action="Index" asp-route-area="User">Cancel</a>
                                <button class="btn btn-primary" type="submit">Create Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/app/internal/orders/resgrid.orders.new.js"></script>
}
