<div id="smallCallsGrid"></div>

<script id="smallCallRowActionColumnTemplate" type="text/x-kendo-tmpl">
    <a class="btn btn-success selectCallButton" onclick="resgrid.dispatch.smallallcallgrid.selectCall(#=CallId#);">@commonLocalizer["RespondToCall"]</a>
</script>

<script src="@Url.Content("~/js/app/internal/dispatch/resgrid.dispatch.smallallcallgrid.js")" type="text/javascript"></script>
