<header>
	<div class="content-wrapper">
		<div class="float-left">
			<h1>Authentication</h1>
		</div>
	</div>
</header>
<div id="body">
	<section class="featured">
		<div class="content-wrapper">
			<h2></h2>
			<p>
				All Resgrid API calls are authenticated via the standard <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">HTTP Basic Auth</a>. There are 2 forms of authentication tokens utilized by Resgrid API calls, User Auth Tokens and System Auth Tokens. You can see below for more detail information on each auth token type. You can all the Resgrid API via HTTP or <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">HTTPS</a>. We highly recommend utilizing HTTPS for all clients that will support it.
			</p>
			<div class="detail-box">
				<div class="page-header">
					<a title="jump to http verbs" href="#class-summary" class="scroll pull-right">
						<span class="label label-info"><i class="icon-white icon-arrow-up"></i></span>
					</a>
					<h3 id="class-desc">User Auth Token (v1 and v2 APIs)</h3>
				</div>
				<p>The User Authentication Token is a <a href="http://en.wikipedia.org/wiki/Base64" target="_blank">Base64</a> encoded string that is a pipe delimited list of "UserName|DepartmentId|DepartmentCode". For example "UserName|DepartmentId|DepartmentCode" turns into "VXNlck5hbWV8MXxBQkNE". The User Authentication Token is used for API calls that are intended to be consumed by user facing applications and tools, for example a Mobile App or a website. In this scenario the user should supply your application with their Username, Department Id and Department Code to create the string.
				</p>
			</div>

			<div class="detail-box">
				<div class="page-header">
					<a title="jump to http verbs" href="#class-summary" class="scroll pull-right">
						<span class="label label-info"><i class="icon-white icon-arrow-up"></i></span>
					</a>
					<h3 id="class-desc">User Auth Token (v3 APIs)</h3>
				</div>
				<p>
					The v3 API calls have a brand new authentication token and authentication scheme compared to the v1 and v2 API's. You can figure out which API version you calling by the "v#" text in the URL. 
				</p>
				<p>
					To call v3 API's you need to first generate an authentication token with the Resgrid API. You can accomplish this by calling the <a href="~/Help/Api/POST-api-v3-Auth-Validate">Auth Validate</a> method. You supply your username and password into this call. What will be <a href="~/Help/ResourceModel?modelName=ValidateResultV3">returned</a> is some data about the authenticated user and 2 important token related pieces of data. The <b>Tkn</b> value is the token you need to pass in all subsequent calls to the v3 API's and <b>Txd</b> is the Token Expiry Date. Your token expires on that date time and you will need to re-authenticate with the API.
				</p>
				<p>
					The Token is passed in the <a href="https://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Authentication header as a Basic value</a>. 
				</p>
			</div>

			<div class="detail-box">
				<div class="page-header">
					<a title="jump to http verbs" href="#class-summary" class="scroll pull-right">
						<span class="label label-info"><i class="icon-white icon-arrow-up"></i></span>
					</a>
					<h3 id="class-desc">System Auth Token</h3>
				</div>
				<p>The System Authentication Token is a <a href="http://en.wikipedia.org/wiki/Base64" target="_blank">Base64</a> encoded string that is the API Token that comes from your Department Settings API page. </p>
			</div>

			<div class="detail-box">
				<p class="lead class-name">
					Example Request
				</p>
				<p class="det">Here is an example request using <a href="http://en.wikipedia.org/wiki/CURL" target="_blank">cURL</a> sending a Base64 encoded User Auth Token.</p>
				<pre class="prettyprint linenums">
$ curl https://api.resgrid.com/api/v2/State/GetCurrentState \
	-u VXNlck5hbWV8MXxBQkNE:
								</pre>
				<p>curl uses the -u flag to pass basic auth credentials (adding a colon after your API key will prevent it from asking you for a password).</p>
			</div>
		</div>
	</section>
</div>