<header>
    <div class="content-wrapper">
        <div class="float-left">
            <h1>Getting Started</h1>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                The Resgrid API is designed utilizing the <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer" target="_blank">REST model</a>. The Resgrid API calls are designed to have self-documenting URL/URI’s and utilize standard HTTP features, like HTTP Response codes to denote errors or exceptions, standard HTTP verbs and HTTP standard authentication. All of the Resgrid API calls will return JSON structured data.
            </p>
            <p>
                The goal of the Resgrid API is to enable full and complete system access from any client, application or system. The API is split into 2 parts, the user facing API’s which require a tokenized Username, Department Id and Department code and the system API’s which require a tokenized API token string. This separation allows the Resgrid API to interact with both user’s (i.e. mobile applications) and backend systems (i.e. Computer Aided Dispatch systems).
            </p>
            <p>
                This documentation is generated based off of our actual API code so it is always up to date with the latest API’s and usages. If you have any issues you can always <a href="http://resgrid.com/Home/Contact" target="_blank">contact us</a>.
            </p>
            <p>
                Both customers and 3rd party application developers can utilize the Resgrid API’s.
            </p>
            
            <div class="detail-box">
                <div class="page-header">
                    <a title="jump to http verbs" href="#class-summary" class="scroll pull-right">
                        <span class="label label-info"><i class="icon-white icon-arrow-up"></i></span>
                    </a>
                    <h3 id="class-desc">HTTP Verbs</h3>
                    <p>Below are the standard HTTP Verbs that the Resgrid API utilizes. On the API documentation for the specific the verb will be listed in front of the URL so you will know which verb is accepted by the service.</p>
                </div>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th colspan="2">HTTP Verbs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">GET</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Used for retrieving resources. This could be a singular item (like a single call) or an array/list of items (like all the personnel in a department).
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">POST</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Used for creating resources, or performing actions such as submiting a status, or creating a call.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">DELETE</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Used for deleting resources for example deleting a message, or a staffing schedule.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="detail-box">
                <div class="page-header">
                    <a title="jump to http verbs" href="#class-summary" class="scroll pull-right">
                        <span class="label label-info"><i class="icon-white icon-arrow-up"></i></span>
                    </a>
                    <h3 id="class-desc">HTTP Error Codes</h3>
                    <p>Below are the standard HTTP Error Codes that the Resgrid API utilizes. Normally through the course of utilizing the API they will be the codes that it will return for specific scenarios. Each API method is capable of returning most of these HTTP Codes.</p>
                </div>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th colspan="2">HTTP Codes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">200</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that the request succeeded and that the requested information is in the response. This is the most common status code to receive.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">201</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that the request resulted in a new resource created before the response was sent.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">400</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that the request could not be understood by the server. 400 is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">401</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">404</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that the requested resource does not exist on the server.
                                </p>
                            </td>
                        </tr>
                        <tr id="class-summary">
                            <td>
                                <p class="class-scope">500</p>
                            </td>
                            <td>
                                <p class="class-desc">
                                    Indicates that a generic error has occurred on the server.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>