@using Resgrid.Web.Helpers
@model Resgrid.WebCore.Areas.User.Models.Files.UploadFileView
@{
  ViewBag.Title = "Resgrid | New Upload";
}

@section Styles
{

}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>File Upload</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
      </li>
      <li class="active">
        <strong>New Upload</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form class="form-horizontal" role="form" asp-controller="Files" asp-action="Upload" asp-route-area="User" method="post">

            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Type)
                @Html.HiddenFor(m => m.ResourceId)
                <div asp-validation-summary="All" class="text-danger"></div>

                @if (!String.IsNullOrEmpty(Model.Message))
                {
                  <div class="alert alert-success">
                    @Model.Message
                  </div>
                }
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Type</label>
              <div class="col-sm-10">@if (Model.Type == 1)
                                {
                                    <span>Call File</span>
                                } else if (Model.Type == 2)
                                {
                                    <span>Call Image</span>
                                }
                            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10"><input type="text" class="form-control" placeholder="Name of the File" asp-for="Name"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                File
              </label>
              <div class="col-sm-10">
                <input name="fileToUpload" id="fileToUpload" type="file" />
                <div class="alert alert-info" role="alert">Not all files types are allowed! File must be less then 10MB in size and must have one of these extensions (.png, .jpg, .jpeg, .gif, .pdf, .doc, .docx, .txt, .ppt, .pptx, .pps, .ppsx, .odt, .xls, .xlsx, .mp4, .mp3)</div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" onclick="window.history.go(-1); return false;">Cancel</a>
                <button class="btn btn-primary" type="submit">Upload File</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
  <script src="~/js/app/internal/files/resgrid.files.upload.js" type="text/javascript"></script>
}
