<div id="recipientsGroupsGrid"></div>
<div id="pager" class="k-pager-wrap"></div>

<script id="respondingOptionsTemplate" type="text/x-kendo-template">
	<div>
		<a>
			#:Name#
		</a>
	</div>
</script>

<script src="@Url.Content("~/js/app/internal/department/resgrid.department.recipientsgrid.js")" type="text/javascript"></script>
