<div id="smallStationGroupsGrid"></div>

<script id="smallStationGroupRowActionColumnTemplate" type="text/x-kendo-tmpl">
  <a class="btn btn-success respondToStationButton" onclick="resgrid.department.smallstationsgrid.respondToStation(#=GroupId#);">Respond to Station</a>
</script>

<script src="@Url.Content("~/js/app/internal/department/resgrid.department.smallstationsgrid.js")" type="text/javascript"></script>
