@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Command.NewCommandView
@{
	ViewBag.Title = "Resgrid | New Command Board";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>New Command Board</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Command" asp-action="Index" asp-route-area="User">Command Boards</a>
			</li>
			<li class="active">
				<strong>New Command Board</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" role="form" asp-controller="Command" asp-action="New" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@if (!String.IsNullOrEmpty(Model.Message))
								{
									<div class="alert alert-success">
										@Model.Message
									</div>
								}
								@Html.AntiForgeryToken()
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						@await Html.PartialAsync("_CommandForm", Model)

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Command" asp-action="Index" asp-route-area="User">Cancel</a>
								<button class="btn btn-primary" type="submit">Create Command Board</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@await Html.PartialAsync("_AssignmentModal")

@section Scripts
{
	<script src="~/js/app/internal/command/resgrid.commands.newcommand.js"></script>
}
