<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="xipton.razor.config" type="Xipton.Razor.Config.XmlConfigurationSection, Xipton.Razor" />
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Resgrid.Providers.EmailProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<xipton.razor.config>
		<xipton.razor>

			<rootOperator path="/" />

			<templates baseType="Xipton.Razor.TemplateBase`1" language="C#" defaultExtension=".cshtml" autoIncludeName="_viewStart" sharedLocation="~/Shared" includeGeneratedSourceCode="false" htmlEncode="true" />

			<references>
				<clear />
				<add reference="mscorlib.dll" />
				<add reference="system.dll" />
				<add reference="system.core.dll" />
				<add reference="microsoft.csharp.dll" />
				<add reference="*.dll" />
				<add reference="*.exe" />
			</references>

			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Dynamic" />
				<add namespace="System.IO" />
				<add namespace="System.Linq" />
				<add namespace="Xipton.Razor.Extension" />
			</namespaces>

			<contentProviders>
				<add type="Xipton.Razor.Core.ContentProvider.FileContentProvider" rootFolder="./Views" />
				<add type="Xipton.Razor.Core.ContentProvider.EmbeddedResourceContentProvider" resourceAssembly="Resgrid.Providers.EmailProvider.dll" rootNameSpace="Resgrid.Providers.EmailProvider.templates" />
			</contentProviders>
		</xipton.razor>
	</xipton.razor.config>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
 <applicationSettings>
  <Resgrid.Providers.EmailProvider.Properties.Settings>
   <setting name="DoDeleteEmailsFromServer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PostmarkApiKey" serializeAs="String">
    <value>feb4cf91-6a7b-4ef4-ac3f-38d2e5332460</value>
   </setting>
   <setting name="SmtpServer" serializeAs="String">
    <value>mail.resgrid.com</value>
   </setting>
  </Resgrid.Providers.EmailProvider.Properties.Settings>
 </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.5.0" newVersion="1.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
