<appSettings>
  <add key="ResgridApiUrl" value="https://resgridapi.local" />
  <add key="StripeApiKey" value="" />
  <add key="StripeClientKey" value="" />
  <add key="BraintreeEnvironment" value="" />
  <add key="BraintreeMerchantId" value="" />
  <add key="BraintreePublicKey" value="" />
  <add key="BraintreePrivateKey" value="" />
</appSettings>